Repository Fechomap/BOT-AUTOMIKE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Implementar CI/CD completo y sistema de validación pre-commit
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .husky/pre-commit
  Dockerfile
  PLAN.md
  README.md
  package.json
  scripts/github-ci-simulation.sh
  scripts/pre-flight-check.sh
  scripts/quick-check.sh
Due: prettier --write

feat: Implementar CI/CD completo y resolver errores críticos de deployment
  Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  src/infrastructure/repositories/excel.repository.ts
  src/infrastructure/services/ike-portal.service.ts
Due: prettier --write, eslint --fix

fix: Resolver problema de Chrome executable en Docker
  Dockerfile
  src/infrastructure/services/ike-portal.service.ts
Due: prettier --write, eslint --fix

fix: Resolver timeout en callbacks de Telegram - procesamiento asíncrono
  src/presentation/controllers/bot.controller.ts
Due: prettier --write, eslint --fix

fix: Corregir configuración de TruffleHog en workflow de seguridad
  .github/workflows/security.yml
Due: none

fix: Corregir comando Railway login en workflow de deploy
  .github/workflows/deploy.yml
Due: none

fix: Remover dependencia de RAILWAY_TOKEN en workflow deploy
  .github/workflows/deploy.yml
Due: none

feat: Desactivar deploy automático de GitHub Actions
  .github/workflows/deploy.yml
Due: none

feat: Agregar barra de progreso en tiempo real para procesamiento de expedientes
  prisma/schema.prisma
  src/application/use-cases/process-excel.use-case.ts
  src/infrastructure/utils/progress-bar.util.ts
  src/presentation/controllers/bot.controller.ts
Due: prettier --write, eslint --fix

feat: Implementar sistema completo de trazabilidad de expedientes multitenant
  CHANGELOG-PENDIENTE.md
  TRAZABILIDAD.md
  check-datos.js
  jest.config.js
  package-lock.json
  package.json
  prisma/schema.prisma
  src/application/use-cases/carga-expedientes.use-case.ts
  src/application/use-cases/revalidacion-cronjob.use-case.ts
  src/domain/entities/carga-expedientes.entity.ts
  src/domain/entities/cronjob-execution.entity.ts
  src/domain/entities/expediente-aggregate.entity.ts
  src/domain/enums/calificacion-expediente.enum.ts
  src/domain/interfaces/sistema-expedientes.interface.ts
  src/domain/services/expediente-validation.service.ts
  src/domain/value-objects/costo-expediente.vo.ts
  src/domain/value-objects/estado-calificacion.vo.ts
  src/domain/value-objects/numero-expediente.vo.ts
  src/infrastructure/adapters/sistema-service.adapter.ts
  src/infrastructure/repositories/expediente.repository.ts
  src/infrastructure/services/cronjob-schedule.service.ts
  src/main.ts
  src/presentation/controllers/bot.controller.ts
  src/presentation/controllers/cronjob.controller.ts
  src/presentation/controllers/expediente.controller.ts
  tests/criterios-aceptacion.test.ts
Due: prettier --write, eslint --fix

fix: Corregir lógica de estados y calificación de expedientes
  src/application/use-cases/carga-expedientes.use-case.ts
  src/application/use-cases/revalidacion-cronjob.use-case.ts
  src/domain/services/expediente-validation.service.ts
Due: prettier --write, eslint --fix

fix: Eliminar estado duplicado en reporte de resultados de carga
  src/presentation/controllers/bot.controller.ts
Due: prettier --write, eslint --fix

fix: Corregir formato de schema Prisma
  prisma/schema.prisma
Due: none

fix: Actualizar Node.js a versión 20 en GitHub Actions
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md})
  eslint --fix: any of: *.{ts,tsx}
